In [1]:
import pandas as pd

In [2]:
import numpy as np

In [20]:
df = pd.read_csv("C:/Users/Priyanshi/Downloads/movies.csv/movies.csv")

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9355 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

In [ ]:
print(df.isnull().sum())

MOVIES         0
YEAR         644
GENRE         80
RATING      1820
ONE-LINE       0
STARS          0
VOTES       1820
RunTime     2958
Gross       9539
dtype: int64

In [24]:
df['YEAR']=df['YEAR'].bfill()

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9999 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

In [28]:
new_year=df["YEAR"].mode()
print(new_year)

0    (2020– )
Name: YEAR, dtype: object

In [ ]:
df['YEAR']=df['YEAR'].fillna(new_year)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9999 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9999 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    9999 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   9999 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

In [71]:
#delete the row with missing value
df.dropna(axis=1)

,MOVIES,YEAR,RATING,ONE-LINE,STARS,RunTime
0,Blood Red Sky,(2021),6.100000,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,121.000000
1,Masters of the Universe: Revelation,(2021– ),5.000000,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...",25.000000
2,The Walking Dead,(2010–2022),8.200000,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...",44.000000
3,Rick and Morty,(2013– ),9.200000,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...",23.000000
4,Army of Thieves,(2021),6.921176,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,68.688539
...,...,...,...,...,...,...
9994,The Imperfects,(2021– ),6.921176,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,68.688539
9995,Arcane,(2021– ),6.921176,\nAdd a Plot\n,\n,68.688539
9996,Heart of Invictus,(2022– ),6.921176,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,68.688539
9997,The Imperfects,(2021– ),6.921176,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,68.688539
9998,The Imperfects,(2021– ),6.921176,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,68.688539

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9999 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    9999 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   9999 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

In [76]:
update_df=df.dropna(axis=1)

In [77]:
update_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9999 non-null   object
 2   RATING    9999 non-null   float64
 3   ONE-LINE  9999 non-null   object
 4   STARS     9999 non-null   object
 5   RunTime   9999 non-null   float64
dtypes: float64(2), object(4)
memory usage: 468.8+ KB